.chatbot-container {
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.chatbot-header {
    background-color: #ff2600;
    color: white;
    padding: 10px;
    text-align: center;
}

.chatbot-messages {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    max-width: 70%;
}

.received {
    background-color: #717171;
    align-self: flex-start;
}

.sent {
    background-color: #ff2600;
    color: white;
    align-self: flex-end;
}

.chatbot-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.chatbot-input input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chatbot-input button {
    padding: 8px 15px;
    background-color: #ff2600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chatbot-input button:hover {
    background-color: #f74c2e;
}
